<p>home-page works!</p>



<!-- Image and text -->

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
  <li><a href="link">
          <img class="hidden-xs" src="https://images.app.goo.gl/tt312Yae1tGQLAdw9">
         MoolaBudget
          </a>
      </li>
      </a>
      Profile
    </div>
  </nav>
  <br>
  <br>
  <body>
  <div class="card "  style="width: 18rem; ">
    <div class="card-body">
      <h5 class="card-title">savings</h5>
      <p class="card-text">
      
      </p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>
  
  </body>