<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->

<br>
<br>
<br>
<div class="jumbotron">
  <div class="container">
      <div class="row">
    <span class="glyphicon glyphicon-list-alt"></span>
    <h2>Budget plan</h2>
    <div class="row">

        <div class="col">
        <input type="text" placeholder="input budget type">
    </div>

    <div class="col">
	    <input type="text" placeholder="input budget type">
    </div>

    <div class="col">
        <input type="text" placeholder="input budget type">
    </div>


    <div class="col">
	    <input type="text" placeholder="input budget type">
    </div>



    <div class="col">
        <input type="text" placeholder="input budget type">
    </div>

    <div class="col">
	    <input type="text" placeholder="input budget type">
    </div>
    </div>
	    <button class="btn btn-default full-width"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
</div>