@import '~mdb-ui-kit/css/mdb.min.css';
body {
    background: url(http://habrastorage.org/files/c9c/191/f22/c9c191f226c643eabcce6debfe76049d.jpg);
}
.container .glyphicon-list-alt {
    font-size: 10rem;
    margin-top: 3rem;
    color: orangered;
}
input {
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: #ECF2F4;
    border-radius: 0.2rem;
    border: none;
}
h2 {
    margin-bottom: 3rem;
    font-weight: bold;
    color: white;
}
.btn {
    border-radius: 0.2rem;
}
.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}
.full-width {
    background-color: #8EB5E2;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bi-wallet{
    font-size: 10rem;
    margin-top: 3rem;
    color: orangered;
}
.bi-chat-right-quote{
    font-size: 10rem;
    margin-top: 3rem;
    color: white;
}

.card .card-body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 1em;

    .bi-card-checklist, 
    .bi-journals, .bi-blockquote-right, .bi-cash-coin{
        margin-top: 1em;
        height: 50px;
        width: 50px;
        color: whitesmoke;
    }
}


.card{
    background-image: linear-gradient( -90deg,rgb(75, 31, 75),rgb(13, 86, 182));
    width:  90%;
    box-shadow: 10px 10px whitesmoke; 
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
}

.container{
    position: absolute;
 
}
