<form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="budget type">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="amount">
      </div>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
      </div>
  </form>