<div class="container">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/budget">Add budget plan</a>
      <a class="dropdown-item" href="#">Plan a budget</a>
      <a class="dropdown-item" href="/savings">Budget history</a>
    </div>
  </div>

  <br />
  <br />

  
  <br />


  <br />
  <br />

  
  <br />
  <br />



