<h2>Budget history</h2>
<br />
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Budget Type</th>
      <th scope="col">Period</th>
      <th scope="col">Amount saved</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>**</td>
      <td>**</td>
      <td>**</td>
   
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>***</td>
      <td>***</td>
      <td>****</td>
 
    </tr>
  </tbody>
</table>

