<div class="container">
  <h2>Make Budget plan</h2>
  <form>
    <div class="row">
      <input type="text" class="form-control" placeholder="Budget type" />
    </div>
    <br />
    <div class="row">
      <input type="text" class="form-control" placeholder="Budget period" />
    </div>
    <br />
    <div class="row">
      <input type="text" class="form-control" placeholder="goal Amount" />
    </div>
  </form>
  
  <br />
  <button type="button" class="btn btn-success">
    Estiamte monthly savings
  </button>
</div>